<div class="container">
  <div *ngIf="currentTab === 'chose-options'" class="button-container">
    <button
      (click)="choseGameOption('new-game')"
      value="new-game"
      type="button"
      class="button new-game"
    >
      <p>New Game</p>
    </button>
    <button
      (click)="choseGameOption('saved-game')"
      value="saved-game"
      type="button"
      class="button saved-game"
    >
      Saved Game
    </button>
  </div>

  <app-jeopardy-game-board
    *ngIf="currentTab === 'new-game'"
    (goBack)="goBack()"
  ></app-jeopardy-game-board>

  <div *ngIf="currentTab === 'saved-game'">
    <p>Choose saved game</p>
    <button (click)="goBack()">back</button>
  </div>
</div>

<!-- <app-add-jeopardy-question></app-add-jeopardy-question -->


