<div class='container'>
  <table>
    <caption>
      JEOPARDY
    </caption>
    <thead>
      <tr >
        <th class='category-titles'>Category 1</th>
        <th class='category-titles's>Category 2</th>
        <th class='category-titles'>Category 3</th>
        <th class='category-titles'>Category 4</th>
        <th class='category-titles'>Category 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th (click)="openQuestion()">$100</th>
        <th>$100</th>
        <th>$100</th>
        <th>$100</th>
        <th>$100</th>
      </tr>

      <tr>
        <th>$200</th>
        <th>$200</th>
        <th>$200</th>
        <th>$200</th>
        <th>$200</th>
      </tr>
      <tr>
        <th>$300</th>
        <th>$300</th>
        <th>$300</th>
        <th>$300</th>
        <th>$300</th>
      </tr>
      <tr>
        <th>$400</th>
        <th>$400</th>
        <th>$400</th>
        <th>$400</th>
        <th>$400</th>
      </tr>
      <tr>
        <th>$500</th>
        <th>$500</th>
        <th>$500</th>
        <th>$500</th>
        <th>$500</th>
      </tr>
    </tbody>
  </table>
</div>
<app-reusable-dialog></app-reusable-dialog>