<div
  [@openBackdrop]="isBackdropOpen ? 'open' : 'closed'"
  (click)="closeDialog()"
  class="backdrop"
>
  <div
    [@openDialog]="isOpen ? 'open' : 'closed'"
    (click)="$event.stopPropagation()"
    class="dialog-box-category"
  >
    @if(isEditCategoryNameView){
    <div class="category-container">
      <label class="category-name-input-label" for="cateogryNameInput"
        >Category name:
      </label>
      <input
        (keyup.enter)="submitCategory()"
        (change)="handleChange($event)"
        [formControl]="category"
        [autofocus]
        class="categoryNameInput"
        type="text"
        name="cateogryNameInput"
      />
      <button (click)="submitCategory()" class="submit-btn">Submit</button>
    </div>

    } @if(isEditQuestionView){
    <div class="edit-question-container">
      <div class="x-btn-container">
        <button (click)="closeDialog()" class="x-btn">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="question-container">
        <label for="question-input">Question: </label>
        <!-- @if(currentCellData.complete){
          <textarea
          [formControl]="question"
          #possibleAnsersElement
          class="answer-inputs question-input"
          id="question-input"
          type="text"
        ></textarea>
        } -->
        <textarea
          [formControl]="question"
          #possibleAnsersElement
          class="answer-inputs question-input"
          id="question-input"
          type="text"
        ></textarea>
      </div>
      <div class="possible-answer-container">
        <p>Possible answers:</p>
      </div>

      <div class="inputs-container">
        <div class="label-input-container">
          <label for="option-A">A: </label>
          <input
            #possibleAnsersElement
            id="option-A"
            [formControl]="answerOptionA"
            class="answer-inputs"
            type="text"
          />
        </div>
        <div class="label-input-container">
          <label for="option-B">B: </label>
          <input
            #possibleAnsersElement
            id="option-B"
            [formControl]="answerOptionB"
            class="answer-inputs"
            type="text"
          />
        </div>
        <div class="label-input-container">
          <label for="option-C">C: </label>
          <input
            #possibleAnsersElement
            id="option-C"
            [formControl]="answerOptionC"
            class="answer-inputs"
            type="text"
          />
        </div>
        <div class="label-input-container">
          <label for="option-D">D: </label>
          <input
            #possibleAnsersElement
            id="option-D"
            [formControl]="answerOptionD"
            class="answer-inputs"
            type="text"
          />
        </div>
      </div>
      <div class="answer-inputs-container">
        <div class="answer-input">
          <label for="answer-A-checkbox">A: </label>
          <input
            #radioAnsersElement
            [formControl]="correctAnswer"
            id="'answer-A-checkbox"
            name="answer"
            type="radio"
            value="A"
          />
        </div>
        <div class="answer-input">
          <label for="answer-B-checkbox">B: </label>
          <input
            #radioAnswersElement
            [formControl]="correctAnswer"
            id="'answer-B-checkbox"
            name="answer"
            type="radio"
            value="B"
          />
        </div>
        <div class="answer-input">
          <label for="answer-C-checkbox">C: </label>
          <input
            #radioAnswersElement
            [formControl]="correctAnswer"
            id="'answer-C-checkbox"
            name="answer"
            type="radio"
            value="C"
          />
        </div>
        <div class="answer-input">
          <label for="answer-D-checkbox">D: </label>
          <input
            #radioAnswersElement
            [formControl]="correctAnswer"
            id="'answer-D-checkbox"
            name="answer"
            type="radio"
            value="D"
          />
        </div>
      </div>
      <div class="btn-container">
        @if(validationError===true){
        <p class="validation-error">fill out all fields</p>
        }
        <button (click)="submitQuestion()" class="submit-btn">Submit</button>
        <button (click)="closeDialog()" class="close-btn">Close</button>
      </div>
    </div>
    }
  </div>
</div>
