<div class="container">
  <table>
    <caption class="jeopardy-title">
      <button class="go-back-button" (click)="onBackClick()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      Jeopardy!
      <!-- <button (click)="saveGame()" type="button" class='save-btn'>
        <mat-icon>
          save
        </mat-icon>
      </button> -->
    </caption>
    <!-- <thead></thead> -->
    @if(gameData.length > 0){
    <tbody>
      <tr>
        @for(cell of gameData.slice(0,5); track $index){
        <th class="category-title">
          {{ cell?.categoryName }}
        </th>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(5,10); track $index){
        <td
          (click)="openDialog(cell.row, cell.column)"
          [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'"
        >
          <p [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">
            ${{ cell?.pointValue }}
          </p>
        </td>
        }
      </tr>

      <tr>
        @for(cell of gameData.slice(10,15); track $index){
        <td
          (click)="openDialog(cell.row, cell.column)"
          [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'"
        >
          <p [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">
            ${{ cell?.pointValue }}
          </p>
        </td>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(15,20); track $index){
        <td
          (click)="openDialog(cell.row, cell.column)"
          [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'"
        >
          <p [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">
            ${{ cell?.pointValue }}
          </p>
        </td>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(20,25); track $index){
        <td
          (click)="openDialog(cell.row, cell.column)"
          [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'"
        >
          <p [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">
            ${{ cell?.pointValue }}
          </p>
        </td>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(25,30); track $index){
        <td
          (click)="openDialog(cell.row, cell.column)"
          [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'"
        >
          <p [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">
            ${{ cell?.pointValue }}
          </p>
        </td>
        }
      </tr>
    </tbody>
    }

    <tfoot>
      <tr>
        <th scope="row">Score</th>
        @if(gameScore.length > 0 ){ @for(item of gameScore; track $index){
        <td
          [ngClass]="{
            'current-player': currentPlayerTurn.playerId === item.playerId,
            'team-score': currentPlayerTurn.playerId !== item.playerId
          }"
        >
          <p>{{ item.playerName }}</p>
          <p>${{ item.playerScore }}</p>
        </td>
        } }
      </tr>
    </tfoot>
  </table>
</div>
<app-player-entry></app-player-entry>
<app-answer-question [currentCell]="currentCell"></app-answer-question>
