<div class="container">
  <table>
    <caption class="jeopardy-title">
      <button class="go-back-button" (click)="onBackClick()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      Jeopardy!
    </caption>
    <!-- <thead></thead> -->
    <tbody>
      <tr>
        @for(cell of gameData.slice(0,5); track $index){
        <th
          (click)="editTableCell(cell.row, cell.column)"
          class="category-title"
        >
          {{ cell?.categoryName }}
        </th>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(5,10); track $index){
        <td 
         [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'"
          (click)="editTableCell(cell.row, cell.column)"
        >
          <p [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">${{ cell?.pointValue }}</p>
        </td>
        }
      </tr>

      <tr>
        @for(cell of gameData.slice(10,15); track $index){
        <td  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'" (click)="editTableCell(cell.row, cell.column)">
          <p  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">${{ cell?.pointValue }}</p>
        </td>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(15,20); track $index){
        <td  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'" (click)="editTableCell(cell.row, cell.column)">
          <p  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">${{ cell?.pointValue }}</p>
        </td>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(20,25); track $index){
        <td  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'" (click)="editTableCell(cell.row, cell.column)">
          <p  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">${{ cell?.pointValue }}</p>
        </td>
        }
      </tr>
      <tr>
        @for(cell of gameData.slice(25,30); track $index){
        <td  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'" (click)="editTableCell(cell.row, cell.column)">
          <p  [ngClass]="cell.complete ? 'complete-cell' : 'not-complete-cell'">${{ cell?.pointValue }}</p>
        </td>
        }
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="row">Team NAME: 400pts</th>
        <td class="team-score">
          <p>A TEAM</p>
          <p>$11,300</p>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<app-add-jeopardy-question
  [isEditCategoryNameView]="isEditCategoryNameView"
  [isEditQuestionView]="isEditQuestionView"
  [promptInput]="promptInput"
  (updateInputEvent)="receiveNewCategory($event)"
  [currentTableCell]="currentTableCell"
></app-add-jeopardy-question>
