<a [routerLink]="['/user-page', user.userId]">
  <div class="p-5 hover:shadow border border-1 border-slate-200 rounded-xl">
    <div class="flex flex-row items-start justify-between">
      <div class="w-full">
        <div class="w-full h-36 overflow-hidden rounded-xl">
          <img
            class="w-full h-full object-cover"
            [src]="user.photoUrl"
            alt="{{ user.firstName }} {{ user.lastName }}'s profile picture"
          />
        </div>
      </div>
    </div>

    <div class="py-3">
      @if(edit){
      <div class="flex flex-col items-center justify-center">
        <div class="flex flex-row justify-between w-full">
          <label for="nameInput">Name:</label>
          <!-- <button
            (click)="toggleEdit()"
            type="button"
            class="hover:bg-slate-100 rounded duration-100 ease-in flex items-center justify-center p-1 w-8 h-8"
          >
            <mat-icon class="text-slate-700"> check </mat-icon>
          </button> -->
        </div>
        <input
          name="nameInput"
          class="w-full h-8 border border-slate-300 px-1 py-1 rounded"
          type="text"
          (change)="updateName($event)"
          [(ngModel)]="fullName"
        />
      </div>

      } @else {
      <div class="flex justify-between h-10">
        <p class="py-1">Name: {{ user.firstName }} {{ user.lastName }}</p>
        <!-- <button
          (click)="toggleEdit()"
          type="button"
          class="hover:bg-slate-100 rounded duration-100 ease-in flex items-center justify-center p-1 w-8 h-8"
        >
          <mat-icon class="text-slate-700"> edit </mat-icon>
        </button> -->
      </div>
      } @if(edit){
      <div class="flex flex-col">
        <p>Phone Number :</p>
        <input
          class="w-full h-8 border border-slate-300 px-2 py-1 rounded"
          type="text"
          (change)="updatePhoneNumnber($event)"
          [defaultValue]="user.phoneNumber"
          placeholder="Unknown"
          [(ngModel)]="user.phoneNumber"
        />
      </div>

      } @else {
      <p class="py-1">Phone Number: {{ user.phoneNumber || "Unknown" }}</p>
      } @if(edit) {
      <label for="addressInput">
        <p>Address:</p>
        <input
          (change)="updateAddress($event)"
          type="text"
          class="w-full h-8 border border-slate-300 px-2 py-1 rounded"
          [(ngModel)]="user.address"
          placeholder="Unknown"
        />
      </label>
      } @else {
      <p class="py-1">Address: {{ user.address || "Unknown" }}</p>
      } @if(edit){
      <div class="flex flex-col">
        <p>age :</p>
        <input
          class="w-full h-8 border border-slate-300 px-2 py-1 rounded"
          type="text"
          (change)="updateAge($event)"
          [(ngModel)]="user.age"
        />
      </div>

      } @else {
      <p class="py-1">Age: {{ user.age || "Unknown" }}</p>
      }
    </div>
  </div>
</a>
