<div
  [@openBackdrop]="isBackdropOpen ? 'open' : 'closed'"
  class="backdrop"
  (click)="closeDialog()"
>
  <div
    [@openDialog]="isDialogOpen ? 'open' : 'closed'"
    (click)="$event.stopPropagation()"
    class="container"
  >
    <button class="close-btn" (click)="closeDialog()" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <div class="top">
      @if(question){
      <p class="question">{{ question }}</p>
      }
    </div>
    <div class="middle">
      @if(optionA && optionB && optionC && optionD){
      <button
        (click)="selectOption('A')"
        type="button"
        class="selection-container"
      >
        <input
          [formControl]="answer"
          class="answer-option-inputs"
          type="radio"
          name="choice"
          value="A"
        />
        <label for="">A. {{ optionA }}</label>
      </button>

      <button
        (click)="selectOption('B')"
        type="button"
        class="selection-container"
      >
        <input
          [formControl]="answer"
          class="answer-option-inputs"
          type="radio"
          name="choice"
          value="B"
          #selectionB
        />
        <label for="">B. {{ optionB }}</label>
      </button>

      <button
        type="button"
        (click)="selectOption('C')"
        class="selection-container"
      >
        <input
          [formControl]="answer"
          class="answer-option-inputs"
          type="radio"
          name="choice"
          value="C"
        />
        <label for="">C.{{ optionC }}</label>
      </button>

      <button
        type="button"
        (click)="selectOption('D')"
        class="selection-container"
      >
        <input
          [formControl]="answer"
          class="answer-option-inputs"
          type="radio"
          name="choice"
          value="D"
        />
        <label for="">D. {{ optionD }}</label>
      </button>
      }
    </div>

    <div class="bottom">
      <button (click)="submit()" class="submit" type="button">
        Submit Answer
      </button>
    </div>
  </div>
</div>
