<main>
  <div>
    <p class="gamenight-title">GAMENIGHT</p>
  </div>
  <a routerLink="/jeopardy">
     <button type="button" class="game-option-container jeopardy-background">
    <div class="game-option-content-container">
      <p class="game-option-title">Jeopardy</p>
    </div>
  </button>
  </a>
 
  <button type="button" class="game-option-container trivia-background">
    <div class="game-option-content-container">
      <p class="game-option-title">Trivia</p>
    </div>
  </button>
  <button type="button" class="game-option-container war-background">
    <div class="game-option-content-container">
      <p class="game-option-title">War</p>
    </div>
  </button>
</main>
